/* Fondo negro para la ventana */
#root {
    -fx-background-color: black !important;
    -fx-padding: 0px;
}

/* Estilo para la etiqueta ImageView que contiene el logo */
#logo {
    -fx-fit-width: 400px;
    -fx-fit-height: 400px;
    -fx-preserve-ratio: true;
    -fx-effect: dropshadow(gaussian, rgba(255, 215, 0, 0.8), 20, 0, 0, 0);
    /* Transición para hacer que el logo brille cuando se coloca el cursor sobre él */
    -fx-transition: brightness 0.5s;
}

/* Estilo para el GridPane que contiene los campos de usuario y contraseña */
#login {
    -fx-font-family: "Arial";
    -fx-background-color: black;
    -fx-max-width: 275px;
    -fx-border-color: #CFB14F;
    -fx-padding: 10px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

#terminos-privacidad {
    -fx-border-color: black;
    -fx-max-width: 175px;

}

#new-user {
    -fx-font-family: "Arial";
    -fx-background-color: black;
    -fx-max-width: 275px;
    -fx-border-color: #CFB14F;
    -fx-padding: 10px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

#login Label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}

/* Estilo para los campos de texto y botones */
.text-input {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-border-color: white;
    -fx-border-radius: 40;
    -fx-pref-height: 20px;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-background-color: #CFB14F;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #CFB14F;
    -fx-border-width: 0;
    -fx-padding: 5px 81px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-opacity: 0.8;
}

/* Estilo para la barra de navegación */
.nav-bar {
    -fx-background-color: transparent;
    -fx-spacing: 5px;
    -fx-padding: 0px 10px;
}

/* Estilo para los botones de la barra de navegación */
.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 13px 8px;
    -fx-font-family: "Arial";
}

.nav-button:hover {
    -fx-text-fill: #CFB14F;
}

.invisible-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 0;
}

.invisible-button:hover {
    -fx-background-color: transparent;
    -fx-opacity: 1;
}

.nav-button-registro {
    -fx-background-color: #CFB14F;
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 6px 12px;
    -fx-font-family: "Arial";
}

.nav-button-registro:hover {
    -fx-opacity: 0.8;
}

.logo-text {
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.facebook-button {
    -fx-background-color: #1877F2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #1877F2;
    -fx-border-width: 0;
    -fx-padding: 6px 16px;
}

.facebook-button:hover {
    -fx-opacity: 0.8;
}

.button-text {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: white;
}


.twitter-button {
    -fx-background-color: #00AEEF;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #00AEEF;
    -fx-border-width: 0;
    -fx-padding: 5px 25px;
}

.google-button {
    -fx-background-color: #DB4437;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #DB4437;
    -fx-border-width: 0;
    -fx-padding: 5px 24px;
}

.twitter-button:hover {
    -fx-opacity: 0.8;
}

.google-button:hover {
    -fx-opacity: 0.8;
}

.separator {
    -fx-background-color: white;
    -fx-max-height: 0.2px;
}

.or-label {
    -fx-text-fill: #CFB14F;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button-without-backgroundv1 {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-padding: 0px 4px;
    -fx-font-size: 12px;
    -fx-text-fill: #CFB14F;
}


.button-without-backgroundv2 {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-padding: 0px 4px;
    -fx-font-size: 11px;
    -fx-text-fill: #CFB14F;
}

/* Estilo para el scroll pane */

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: black;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow,
.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: black;
    -fx-background: black;
    -fx-control-inner-background: black;
}

.scroll-pane .content {
    -fx-background-color: black;
    -fx-background: black;
    -fx-control-inner-background: black;
}

.scroll-pane {
    -fx-background-color: black;
    -fx-background: black;
    -fx-control-inner-background: black;
    -fx-background-insets: 0;
    -fx-padding: 0;
}