/* Fondo negro para la ventana */

#root {
    -fx-background-color: black !important;
    -fx-padding: 0px;
}

/* Estilo para la etiqueta ImageView que contiene el logo */

#logo {
    -fx-fit-width: 400px;
    -fx-fit-height: 400px;
    -fx-preserve-ratio: true;
    -fx-effect: dropshadow(gaussian, rgba(255, 215, 0, 0.8), 20, 0, 0, 0);
    /* Transición para hacer que el logo brille cuando se coloca el cursor sobre él */
    -fx-transition: brightness 0.5s;
}

/**
    * Estilos para el scroll-bar y el scroll-pane
 **/

/* Estilo para el scroll pane */

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow,
.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
}

/* Estilo para el scroll pane */

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-control-inner-background: transparent;
}

.scroll-pane .content {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-control-inner-background: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/**
    * Estilos para la barra de navegación
 **/

/* Estilo para la barra de navegación */

.nav-bar {
    -fx-background-color: black;
    -fx-spacing: 12px;
    -fx-padding: 0px 25px;
}

/* Estilo para los botones de la barra de navegación */

.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 0px 0px;
    -fx-font-family: "Arial";
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

/* Cambio de color cuando los botones de navegación se les coloca encima el mouse */

.nav-button:hover {
    -fx-text-fill: #CFB14F;
}

/* Estilo para los botones de la barra de navegación actual */

.nav-button-actual {
    -fx-background-color: transparent;
    -fx-text-fill: #CFB14F;
    -fx-font-size: 14px;
    -fx-padding: 0px 0px;
    -fx-font-family: "Arial";
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

/* Cambio de color cuando los botones de navegación se les coloca encima el mouse */

.nav-button-actual:hover {
    -fx-text-fill: #CFB14F;
}

/* Estilo para el botón de invisible que tiene la imagen de "FastEvent" en navegación */

.nav-invisible-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

/* Estilo para el botónes de "Iniciar Sesion" o "Registrarse" en navegación */

.nav-button-log-reg {
    -fx-background-color: #CFB14F;
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-font-family: "Arial";

    -fx-border-radius: 20;
    -fx-border-color: #CFB14F;
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

/* Opacidad cuando los botones de navegación se les coloca encima el mouse */

.nav-button-log-reg:hover {
    -fx-opacity: 0.8;
}

/* Boton log-reg efecto rippler */

.nav-button-log-reg .jfx-rippler {
    -jfx-rippler-fill: white;
    -jfx-rippler-size: 80;
}

/* Estilo para las lineas */

.separator {
    -fx-background-color: white;
    -fx-max-height: 0.2px;
}

/**
    ***********************************
 **/

/* Estilo del Vbox de la linea invisible que encierra "Terminos" y "Privacidad" */

#terminos-privacidad {
    -fx-border-color: transparent;
    -fx-max-width: 275px;
}

/**
    ***********************************
    * Estilos del contenido de la página
 **/

.text1 {
    -fx-text-fill: white;
    -fx-weight: bold;
    -fx-size: 32;
}

.text2 {
    -fx-text-fill: white;
    -fx-size: 16;
}

.boton {
    -fx-background-color: #CFB14F;
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-font-family: "Arial";

    -fx-border-radius: 20;
    -fx-border-color: #CFB14F;
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.grid-pane {
    -fx-hgap: 10;
    -fx-background-color: white;
}

.imagen1 {
    -fx-border-radius: 30px;
    -fx-image: url("contenido/imagen1.jpg");
}

.imagen2 {
    -fx-border-radius: 30px;
    -fx-image: url("contenido/imagen2.jpg");
}

.separatorG {
    -fx-background-color: #808080;
    -fx-max-height: 0.2px;
}